* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    zoom: 90%; /* Asegura que la vista esté al 100% */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/fondoWeb.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: calc(100vh - 400px); /* Altura del viewport menos 200px arriba y abajo */
    padding: 100px 0;
}

.login-box {
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-title {
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
}
.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  

.input-group {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    font-size: 16px;
    color: #333333;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.2);
}

.login-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}
