<app-navbar></app-navbar>
<router-outlet></router-outlet>

<footer class="footer container-fluid bg-dark text-white-50 border-top py-4"
    style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0">Copyright &copy; <a class="text-white" href="#">Proyecto Archivos 2024</a>. All Rights
                    Reserved.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <p class="m-0">Designed by <a class="text-white" href="https://github.com/EilerGomez">Eiler Gomez</a>
                </p>
            </div>
        </div>
    </div>
</footer>
